# Binaries
**/bin/
**/bin-int/
**/bin
**/bin-int


# Visual Studio files and folder
**/.vs
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

# LFS Folders
lfs/
hooks/

# Meta Files
**.meta

# Log files
**.log
**.tlog
*.tlog

# Auto saves
*.auto

